@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-cairo: "Cairo", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

.font-cairo  { font-family: "Cairo", sans-serif; }
.font-roboto { font-family: "Roboto", sans-serif; }

[dir="rtl"] { direction: rtl; }
